#AboutMe{
.me{
  width: 100%;
  border: 5px solid black;
}
.text{
  background-color: white;
  border: 5px solid green;
  margin-bottom:5px ;
}
.gifbox{
  text-align: center;
}
.gif{
  width: 60%;
  border: 5px orange solid;
}
}